:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --back-gradient-transparency: 0.875;

  --c1: rgba(0, 0, 0, var(--back-gradient-transparency));
  --c2: rgba(68, 0, 68, var(--back-gradient-transparency));
  --c3: rgba(47, 79, 79, var(--back-gradient-transparency));
  --c4: rgba(0, 100, 0, var(--back-gradient-transparency));

  --div-border-radius: 15px;
  --div-border-top: 4px solid #black;
  --div-border-right: 8px solid black;
  --div-border-bottom: 1px solid #333;
  --div-border-left: 1px solid #333;
  --default-font-size: 20px;
  --scale: 0.71;

  --three-d-border: {
    border-radius: var(--default-font-size);
    border-top: var(--div-border-top);
    border-right: var(--div-border-right);
    border-bottom: var(--div-border-bottom);
    border-left: var(--div-border-left);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.35;
}

/* Formik */

input.input-error, select.input-error {
  border-color: red;
}

.error {
  color: maroon;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  background-color: white;
  padding: 0 10px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* StyledTitle */
.page-title {
  align-self: flex-start;
  margin-top: 20px !important;
}

h1.page-title span {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 15px;
}

/* BigText */
div.big-text {
  background-color: black;
  border-radius: var(--default-font-size);
  border-top: var(--div-border-top);
  border-right: var(--div-border-right);
  border-bottom: var(--div-border-bottom);
  border-left: var(--div-border-left);
  width: fit-content;
}

div.big-text * {
  color: silver;
  font-size: calc(var(--default-font-size) * 2);
  padding: 10px 40px;
}

/*
References for #root and main:
https://www.youtube.com/watch?v=YmI72GTRuqM
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-basis
https://www.w3schools.com/cssref/css3_pr_background-size.php
*/

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background: 
    linear-gradient(
      135deg,
      var(--c1),
      var(--c2),
      var(--c1)
    ), url('/images/easy-itemizer-background.jpg?v=1234') no-repeat center bottom;
  background-size: 100% 100% !important;
  background-attachment: scroll !important;
}

main > .form-div {
  margin-top: 20px;
}

.form-div {
  background-color: teal;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: var(--div-border-radius);
  border-top: var(--div-border-top);
  border-right: var(--div-border-right);
  border-bottom: var(--div-border-bottom);
  border-left: var(--div-border-left);
}

.form-div * {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  padding: 0 80px;
  text-align: center !important;
}

.form-div :is(label, input, button) {
  font-size: var(--default-font-size);
}

.form-div input {
  width: 80%;
}

.form-div button {
  height: 40px;
}

.grid {
  display: grid;
}

@media screen and (max-width: 1366px) {

  h1 {
    font-size: 2.27em;
  }

  .form-div :is(label, input, button, .link-button) {
    font-size: calc(var(--default-font-size) * var(--scale));
  }

  .form-div * {
    padding: 0 56px !important;
  }

  #signup-div {
    margin-bottom: 20px;
  }

}