#detailed-item-card {
    margin: 0 auto;
    display: auto;
}

#detailed-item-card * {
    align-items: center;
    justify-content: center;
}

#detailed-item-card img {
    width: 250px;
    height: 250px;
}