#detailed-item-card {
    margin: 0 auto;
    display: auto;
    background-color: darkgray;
    color: white;
    height: max-content;
}

#detailed-item-card * {
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

#detail-wrapper {
    display: inline-flex;
    /* padding: 10px 15px; */
}

#detailed-item-card img {
    /* width: 300px;
    height: 500px; */
    border-style: solid;
    border-color: black;
}

#detail-block * {
    margin: 10px auto;
}

@media (prefers-color-scheme: light) {
    #detailed-item-card {
        background-color: darkgray;
        color: black;
    }
}

@media screen and (max-width: 1366px) {

    #detail-block {
        margin: 7px auto;
    }

    #detail-wrapper * {
        margin: 1px auto;
    }

    textarea {
        margin-left: 8px !important;
    }
}