#no-items {
    display: flex !important;
    margin: 0 auto !important;
    align-items: center !important;
    justify-content: center !important;
}

div#item-search {
    background: radial-gradient(#000, #111, #222, #333, #444);
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: var(--default-font-size);
    border-top: var(--div-border-top);
    border-right: var(--div-border-right);
    border-bottom: var(--div-border-bottom);
    border-left: var(--div-border-left);
    margin: 10px auto 0;
}

div#item-search * {
    margin: 0 10px;
    padding: 10px;
    font-size: var(--default-font-size);
}

div#item-search input[type="text"] {
    border-radius: var(--default-font-size);
}

#item-list-container {
    border-style: double;
    border-color: skyblue;
    border-width: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 35px;
    background-color: #333;
}

#item-list {
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: fit-content;
    height: 520px;
    background: linear-gradient(to right bottom, #020, darkgreen, green, olive, yellow, lime);
    overflow-y: auto;
    overflow-x: hidden;
}

#item-list button {
    background-color: darkslateblue;
    width: 230px;
    height: 230px;
    margin: auto;
}

#item-list li {
    width: fit-content;
    height: fit-content;
    margin: 25px;
}

#item-list :is(li, button):hover {
    background-color: none;
    background: linear-gradient(to bottom right, indigo, blue, skyblue, aquamarine, cyan);
    color: black;
}

#item-card-container {
    display: flex;
    flex-direction: row;
}