<html>

<body>
    <h1><strong>{{org_name}}</strong> Inventory Status</h1>
    <br />
    <p>
        A status report has been sent to all members of <strong>{{org_name}}</strong>
        by fellow member, <em>{{sender}}</em>. Below is a table of all inventory information:
    </p>
    <table>
        <tbody>
            <tr style="background-color: silver; color: black;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Total Items</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center;">{{number_of_items}}</td>
            </tr>
            <tr style="background-color: maroon;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">OUT
                </td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">
                    {{number_of_out}}</td>
            </tr>
            <tr style="background-color: orange;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">LOW
                </td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">
                    {{number_of_low}}</td>
            </tr>
            <tr style="background-color: green;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">GOOD
                </td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">
                    {{number_of_good}}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <h2>The items are sorted by current quantity and enough threshold.</h2>
    <table id="inventory-table">
        <thead>
            <tr style="background-color: silver; color: black;">
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Item Name</th>
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Part Number</th>
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Current Quantity</th>
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Enough Threshold</th>
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Added At</th>
                <th style="border: 2px solid gray; padding: 5px 12px; text-align: center;">Last Updated</th>
            </tr>
        </thead>
        <tbody id="easy-itemizer-inventory-body">
            {% for assignment in out_assignments %}
            <tr style="background-color: maroon;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.itemName }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.partNumber }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.currentQuantity }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.enoughThreshold }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.addedAt }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.lastUpdated }}</td>
            </tr>
            {% endfor %}
            {% for assignment in low_assignments %}
            <tr style="background-color: orange;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.itemName }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.partNumber }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.currentQuantity }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.enoughThreshold }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.addedAt }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: black !important; font-weight: bold;">{{
                    assignment.lastUpdated }}</td>
            </tr>
            {% endfor %}
            {% for assignment in good_assignments %}
            <tr style="background-color: green;">
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.itemName }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.partNumber }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.currentQuantity }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.enoughThreshold }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.addedAt }}</td>
                <td style="border: 2px solid gray; padding: 5px 12px; text-align: center; color: white !important;">{{
                    assignment.lastUpdated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>