.link-button {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: var(--default-font-size);
}

#login-div * {
    margin: 10px 0;
}

