#org-header {
    padding: 10px;
}

#org-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: lime;
    width: fit-content;
    padding: 15px;
}

#org-controls button {
    margin: 0 7px;
}

#org-body {
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#org-body #assigned-item-list {
    margin-top: 0;
    margin-bottom: 33px;
}

#assigned-item-list {
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    height: 500px;
    /* background: linear-gradient(to right bottom, #020, darkgreen, green, olive, yellow, lime); */
    align-items: center;
    justify-content: center;
    padding: 13px;
}

#assigned-item-list li {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 5px 10px;
}

#assigned-item-list * {
    margin: 0 auto;
}

#assigned-item-list .button-group {
    margin-bottom: 8px;
}

.quantity-status-good {
    background-color: green;
}

.quantity-status-low {
    background-color: orange;
    color: black;
}

.quantity-status-out {
    background-color: maroon;
}

.assigned-item {
    padding: 0 12px;
    width: 360px;
    height: 529px;
    overflow-y: auto;
    overflow-x: hidden;
}

.assigned-item img {
    width: 200px;
    height: 100px;
}

.assigned-item table {
    background-color: black;
    color: white;
}

.assigned-item textarea {
    text-align: center;
    margin-top: 7px !important; 
}

.assignment-name {
    font-size: 30px;
}

.assignment-part {
    font-size: 13px;
    margin-bottom: 6px !important;
}

.quantity-changer {
    color: black;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px !important;
}

.minus-button {
    background-color: red;
}

.minus-button:hover {
    background: linear-gradient(red, yellow);
}

.minus-button:disabled:hover {
    background: inherit;
    background-color: red;
}

.edit-q-button {
    background-color: blue;
    color: white;
}

.edit-q-button:hover {
    background: linear-gradient(blue, magenta);
}

.plus-button {
    background-color: lime;
}

.plus-button:hover {
    background: linear-gradient(#0f0, cyan);
}

#adjust-quantity-modal * {
    display: block;
    padding: 0 6px;
    text-align: center;
}

.table-container {
    width: fit-content;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
}

.you {
    background-color: lime;
    color: black;
    font-weight: bold;
}

.owner {
    background-color: yellow;
    color: black;
    font-weight: bolder;
}

.youre-the-owner {
    background: linear-gradient(to right bottom, yellow, lime);
    color: black;
    font-weight: bolder;
}

.admin {
    background-color: red;
    font-weight: bolder;
}

.youre-an-admin {
    background: linear-gradient(to right bottom, red, green);
    font-weight: bolder;
}

.button-block-grid {
    display: grid;
    grid-template-rows: 37px 37px;
}

.button-block-grid button {
    width: 100%;
    margin: 1px !important;
    padding: 0 !important;
    border-style: double;
    border-color: cyan;
    border-width: 2px;
}